{% set Title = 'Login' %}
{% extends 'layouts/authentication.njk' %}

{% block content %}
    <section class="form-with-logo" style="max-width: 490px;">
        <img src="{{paths.media}}/logo.svg" alt="Attendance by WorkPortal" class="mb-5">

        <h2 class="fs-1">
            <strong>Forgot Password</strong>
        </h2>
        <p class="fs-5 mb-3">Please typein your email address and we will send a password change request to your inbox.</p>
        <form action="">
            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="Email Address">
                <label for="email">Your Email Address</label>
            </div>
            <button class="btn btn-primary btn-lg w-100 mt-3 cta-btn-shadow">
                <strong>Send Password Reset Link</strong>
            </button>
        </form>
    </section>
{% endblock %}