{% set Title = 'Login' %}
{% extends 'layouts/authentication.njk' %}

{% block content %}
    <section class="form-with-logo" style="max-width: 490px;">
        <img src="{{paths.media}}/logo.svg" alt="Attendance by WorkPortal" class="mb-5">

        <h2 class="fs-1">
            <strong>Reset Password</strong>
        </h2>
        <p class="fs-5 mb-3">It's time to change your password to a new one.</p>
        <form action="">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <button class="btn btn-primary btn-lg w-100 mt-3 cta-btn-shadow">
                <strong>Reset Password</strong>
            </button>
        </form>
    </section>
{% endblock %}