@import "../variables";

// authentication Styles
.login-hero {
  background-color: $primaryColor;
  color: white;
  display: none !important;
  padding: 0 30px !important;

  @media (min-width: 768px) {
    display: flex !important;
  }

  @media (min-width: 1600px) {
    padding: 0 100px !important;
  }
  &__title {
    font-size: 48px;
  }

  &__text {
    font-size: 18px;
  }

  img {
    max-height: 400px;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 30px;

    @media (min-width: 1600px) {
      max-width: none;
      max-height: none;
    }
  }
}
