<div class="col-md-6 h-100 d-flex align-items-center justify-content-center login-hero">
    <section>
        <h2 class="login-hero__title mb-3">
            <strong>Track Your Workforce with Ease</strong>
        </h2>
        <p class="login-hero__text">With <strong>Attendance</strong> you can manage and track your employees very easily and you don’t have to worry how much hours they have put in for work.</p>
        <img src="{{paths.media}}/login-img.svg" alt="Attendance: Time tracking app for employees">
    </section>
</div>